.hero {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;   /* CENTER HERO */
  text-align: center; 
}

.hero-content {
  max-width: 700px;
}

/* Buttons wrapper */
.hero-buttons {
  display: flex;
  justify-content: center;   /* CENTER BUTTONS */
  gap: 18px;
  margin-top: 30px;
}

/* BUTTON BASE */
.btn {
  padding: 12px 30px;
  font-size: 15px;
  border-radius: 30px;       /* smooth rounded */
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* PRIMARY */
.btn.primary {
  background: linear-gradient(135deg, #38bdf8, #0ea5e9);
  color: #020617;
}

.btn.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(56,189,248,0.3);
}

/* SECONDARY */
.btn.secondary {
  border: 2px solid #38bdf8;
  color: #38bdf8;
  background: transparent;
}

.btn.secondary:hover {
  background-color: #38bdf8;
  color: #020617;
}
.profile-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #64ffda;
  transition: transform 0.3s ease;
}

.profile-img:hover {
  transform: scale(1.05);
}
